{% extends 'dashboard/base.html' %}


{% block head_title %}Your Subscription - {{ block.super }}{% endblock head_title %}


{% block content %}

{% if subscription.is_active_status %}
<h1 class="text-lg font-medium">Are you sure you want to cancel 
    Plan name: {{ subscription.plan_name }} ?</h1>
<form action="" method="POST">{% csrf_token %}
    <button type="submit" >Yes, cancel</button>
</form>

{% else %}

<h1 class="text-lg font-medium">Your Membership is no longer active</h1>

{% endif %}

{% endblock content %}
